/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

 html {
  padding: 0;
}
body {
  margin: 5;
}
header {
  min-height: 400px;
  background-image: url('../img/official_header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


video {
  width: 100%;
  height: auto;

}
headshot {
  width: 25%;
  height: 25%;  
}



#social {
  background: whitesmoke;
  position: absolute;
  top: 50px;
  right: 0;
  width: 25px;
}
#social:hover {
  width: 250px;
  transition: 2s width;
}  
#social ul {
  padding: 0;
  list-style-type: none;
}

#social li {
  margin: 0;
  padding: 0;
  }

#weybec-people ul li {
    display: inline;
}
 
#weybec-people ul {
  margin: 0;
  padding: 0;
  
  list-style-type: none;
}
footer {
  min-height: 400px;
  background-image: url('../img/monkaa_title.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
